# Mac system file
.DS_Store

#///////////////////////////
# Cocos Creator 3D Project
#///////////////////////////
library/
temp/
local/
build/
profiles/
log/
native

# wx developer tool
unpack/
miniprogram_npm/
wechat_devtools_cache/
wechat-devtools-log/

#//////////////////////////
# NPM
#//////////////////////////
node_modules/

#//////////////////////////
# VSCode
#//////////////////////////
.vscode/

#//////////////////////////
# WebStorm
#//////////////////////////
.idea/

# TypeScript compile cache
*.tsbuildinfo

# temp files
*.log
*.tmp
*.bak
